<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @landio_item.description %>
</p>

<%= link_to 'Edit', edit_landio_item_path(@landio_item) %> |
<%= link_to 'Back', landio_items_path %>
